<div class="py-12 md:py-16 bg-white">

  <div class="max-w-6xl mx-auto px-6">

    <div class="grid md:grid-cols-2 gap-8 md:gap-12">

      {{ if image }}
        {{ partial:components/media/image :image="image" class="w-full h-full object-cover" sizes="(min-width: 768px) 50vw, 100vw" }}
      {{ /if }}

      <div class="flex flex-col justify-center">

      {{ if label }}
        <p class="text-sm text-accent font-semibold mb-3">
          {{ label }}
        </p>
      {{ /if }}

      {{ if heading }}
        <h3 class="text-2xl font-semibold tracking-tight mb-4">
          {{ heading }}
        </h3>
      {{ /if }}

      {{ if text }}
        <p class="text-zinc-500">
          {{ text }}
        </p>
      {{ /if }}

      </div>

    </div>

  </div>

</div>
