@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
  --font-sans: "Roboto", system-ui, sans-serif;
  --color-accent: #ec6608;
  --color-brand-orange: #ec6608;
  --color-brand-green: #1d8649;
  --color-brand-red: #f7505e;
}

[x-cloak] {
  display: none !important;
}

.post h2 {
  @apply text-2xl font-semibold tracking-tight text-zinc-900 pt-4
}
