@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../views";
@source "../../content";

@theme {
  --font-dm: "DM Sans", system-ui, sans-serif;
  --color-accent: #ff6a13;
}

[x-cloak] {
  display: none !important;
}

.post h2 {
  @apply text-2xl font-semibold tracking-tight text-zinc-900 pt-4
}
