<div class="hidden md:flex items-center gap-6">
  <nav class="flex items-center gap-6 text-sm text-zinc-400">
    <a href="{{ site:url }}#vorteile" class="hover:text-white">
      {{ "Vorteile" | trans }}
    </a>
    <a href="{{ site:url }}#schulung" class="hover:text-white">
      {{ "Schulung" | trans }}
    </a>
    <a href="{{ site:url }}#planner" class="hover:text-white">
      {{ "Planner" | trans }}
    </a>
    <a href="{{ site:url }}#news" class="hover:text-white">
      {{ "News" | trans }}
    </a>
    <a href="{{ site:url }}#kontakt" class="hover:text-white">
      {{ "Kontakt" | trans }}
    </a>
  </nav>
  {{ partial:components/menu/language }}
</div>
